<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs gallery__nav" role="tablist">
          <li role="presentation" class="active">
            <a href="#" role="tab" data-toggle="tab" data-filter="*">
              All
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="tab" data-toggle="tab" data-filter=".category_1">
              <span class="hidden-xs">Category</span> #1
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="tab" data-toggle="tab" data-filter=".category_2">
              <span class="hidden-xs">Category</span> #2
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="tab" data-toggle="tab" data-filter=".category_3">
              <span class="hidden-xs">Category</span> #3
            </a>
          </li>
        </ul>
    </div>
  </div> <!-- / .row -->
  <div class="row isotope-container">
  <% @venues.each do |venue| %>
    <div class="col-sm-4 col-lg-3 isotope-item category_1">
      <a href="/venues/<%= venue.id%>" class="thumbnail alt">
        <img src="assets/img/<%= venue.image %>" alt="...">
        <div class="caption">
          <h5><%=venue.name %> </h5>

          <ul class="rating">
          <% venue.reviews.first.rating.times do %>
            <li><i class="fa fa-star"></i></li>
            <% end %>
          </ul>
          <p>
            Will call exchange policy: <%= venue.will_call_policy %>
          </p>
        </div>
      </a>

        </div>
        </div>
        </div>
        <% end %>
      </div> <!-- / .row -->
    </div> <!-- / .container -->