<div ng-app="app">
  <div ng-controller="concertsCtrl" ng-init="setup()">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
                  <!-- Nav tabs -->
          <ul class="nav nav-tabs gallery__nav" role="tablist">
            <li role="presentation" class="active">
              <a href="#" role="tab" data-toggle="tab" ng-enter ng-leave ng-click="myFilter = {none}">
              All
              </a>
            </li>
            <li role="presentation" ng-click="">
              <a href="" role="tab" data-toggle="tab" ng-click="myFilter = {onMyCalendar:'true'}" ng-enter ng-leave>
              <span class="hidden-xs">My Calendar</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#" role="tab" data-toggle="tab" ng-click="myFilter = {thisWeek: 'true'}" ng-enter ng-leave>
                <span class="hidden-xs">This Week</span>
              </a>
            </li>
            <li role="presentation">
            </span>
      <input type="text" class="form-control" ng-enter ng-leave ng-model="myFilter" list="bands" placeholder="Search for bands">
    </div><!-- /input-group -->
            </li>
          </ul> 

        </div>
      </div> <!-- / .row -->
        <div class="row isotope-container" >  
          <div class="col-sm-4 col-lg-3 isotope-item category_1 courier" ng-repeat="concert in concerts|filter: myFilter|orderBy:orderAttribute:isOrderDescending" ng-enter ng-leave>
            <a href="/concerts/{{concert.id}}" class="thumbnail">
            <img src="{{concert.picture }}" alt="..." class="img-rounded">
            <div class="caption">
              <h5>{{ concert.bands[0] }}</h5> 
              <p>Venue: {{ concert.venue.name }}</p>
              <p>{{ concert.friendlyDate }}</p>
              <p>Show: {{ concert.show }}</p>
            
            </div>
            </a>
          </div>
        </div> 
      </div>
    </div> 
  </div> <!-- / .row -->
</div> <!-- / .container -->
  