<h1>Edit a band</h1>

<%= form_tag "/bands/#{params[:id]}", method: :patch do %>
  <div class="form-group">
  <%= label_tag :band_name, 'Enter band name: ' %>
  <%= text_field_tag :band_name, @band.name, class: 'form-control' %>
  </div>

  <div>
  <%= submit_tag 'Submit band!' %>
  </div>
  <% end %>