<div class="container">
        <div class="row">
          <div class="col-sm-12">
          
        </div>
      </div> <!-- / .row -->
      <div class="row isotope-container">
      <% @reviews.each do |review| %>
        <div class="col-sm-4 col-lg-3 isotope-item category_1">
          
          <a href="gallery-item.html" class="thumbnail">
            <img src="../assets/img/<%= review.venue.image %>" alt="...">
            <div class="caption">
              <h4><%= Venue.find_by(id: review.venue_id).name %></h4>
              <ul class="rating">
            <% review.rating.times do %>
                <li><i class="fa fa-star"></i></li>
                <% end %>
              </ul>
              <h5><%= User.find_by(id: review.user_id).name %></h5>
              <p>
                <%= review.description %>
              </p>
            </div>
          </a>

        </div>
        <% end %>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
